:root {
  --color-1: #242526;
  --color-2: white;
  --color-3: #0084ff;
  --color-4: grey;
  --color-5: #eb4034;
  --color-6: #333;

  --color1: #E8505B;
  --color2: #263238;
  --color3: #455A64;
  --color4: #EBEBEB;
  --color5: #E0E0E0;
  }
  
/* Register */
h1 {
  text-align: center; /*หัวข้อใหญ่*/
  margin-bottom: 35px;
  margin-top: 35px;
  font-size: 180%;
  color: var(--color2)
}

section {
  background-color: var(--color5);
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 1px 2px 10px var(--color-4);
  padding: 10px 20px;
  border-radius: 5px;
}

section .form {
  margin-bottom: 50px;
  margin-top: 15px;
  padding: 0px 20px;
  }

.input_container {
  margin-top: 5px;
  }

.input_container input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  border: 0px solid var(--color-6);
  border-radius: 10px;  
  }

.btn_container {
  margin: 10px 0px;
  text-align: center;
  }

.btn {
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  border-radius: 50px;
  outline: none;
  border: 1px solid var(--color-4);
  background: var(--color2);
  color: var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
  }

.btn:hover {
  transform: scale(1.05); 
  }

.error {
  text-align: center;
  color: var(--color-5);
  margin-bottom: -5px;
  }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}