:root {
    --color-1: #242526;
    --color-2: white;
    --color-3: #0084ff;
    --color-4: grey;
    --color-5: #eb4034;
    --color-6: #333;
  }
  /*user*/
  .selected_user {
    background: var(--color-6);
  }
  .user_wrapper {
    margin-bottom: 0px;
    padding: 5px;
    cursor: pointer;
  }
  .user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user_detail {
    display: flex;
    align-items: center;
  }
  .user_detail h4 {
    margin-left: 10px;
  }
  .avatar {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--color-4);
  }
  .user_status {
    margin-right: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .online {
    background: #34eb52;
  }
  .offline {
    background: var(--color-5);
  }
  .truncate {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 14px;
    white-space: nowrap; 
    width: 90%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: left;
    border-radius: 10px;
    background: var(--color-6);
    padding: 2px 10px;
  }
  .truncate strong {
    margin-right: 10px;
  }
  .unread {
    margin-left: 10px;
    background: var(--color-3);
    color: white;
    padding: 2px 4px;
    border-radius: 10px;
  }
  .sm_screen {
    display: none;
  }