/*HomeMessage*/

:root {
    --color-1: #242526;
    --color-2: white;
    --color-3: #0084ff;
    --color-4: grey;
    --color-5: #eb4034;
    --color-6: #333;

    --color1: #E8505B;
    --color2: #263238;
    --color3: #455A64;
    --color4: #EBEBEB;
    --color5: #E0E0E0;
  }

.home_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;
}
.users_container {
  margin-top: 10px;
  border-right: 2px solid var(--color5);
  overflow-y: auto;
}
.messages_container {
  position: relative;
  width: 100%;
}
.messages_user {
  text-align: center;
  border-bottom: 2px solid var(--color5);
}
.title_message{
  border-radius: 50px;
  background: var(--color5);
  padding: 5px 5px;
}
.no_conv {
  font-size: 20px;
  color: var(--color-4);
  text-align: center;
}
.messages {
  height: calc(100vh - 200px);
  overflow-y: auto;
  border-bottom: 1px solid var(--color5);
}

.logoChat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}