:root {
    --color-1: #242526;
    --color-2: white;
    --color-3: #0084ff;
    --color-4: grey;
    --color-5: #eb4034;
    --color-6: #333;
  }
  
/* Profile */
.profile_container {
  display: flex;
  align-items: center;
}

.img_container {
  position: relative;
  margin-right: 20px;
}

.img_container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
  transition: 0.5s ease-in-out all;
}

.img_container:hover img {
  opacity: 0.4;
  }

.img_container:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text_container {
  flex-grow: 1;
}

.text_container h2 {
  text-align: left;
}

.home_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;
}