/*root in app*/
@media screen and (max-width: 767px) {
  .home_container {
    grid-template-columns: 2fr 3fr;
  }
  .message_form {
    left: 3%;
    right: 0;
    bottom: 5px;
  }
  .message_wrapper p {
    max-width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .home_container {
    grid-template-columns: 1fr 5fr;
  }
  .user_wrapper {
    display: none;
  }
  .sm_container {
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
  }
  .sm_screen {
    display: inline-block;
  }
  .message_form input {
    width: 50vw;
    margin: 0px 10px;
  }
  .message_form .btn {
    margin: 0px;
  }

  .message_wrapper p {
    max-width: 100%;
  }
}